<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="mx.sep.poho.dao.join.TramitesJoinMapper">
  <resultMap id="contratoResultMap" type="mx.sep.poho.datos.vo.ContratoVO" >
    <result column="ANNIO" property="annio" jdbcType="INTEGER" />
    <result column="NU_TRAMITE" property="noTramite" jdbcType="INTEGER" />
    <result column="CVE_CODIGO" property="claveNivel" jdbcType="VARCHAR" />
    <result column="PERIODO" property="periodo" jdbcType="VARCHAR" />
    <result column="CVE_UNIDAD" property="claveUnidad" jdbcType="VARCHAR" />
    <result column="cve_status_firmantes" property="estatus" jdbcType="INTEGER" />
    <result column="RFC" property="rfc" jdbcType="INTEGER" />
    <result column="CURP" property="curp" jdbcType="INTEGER" />
    <result column="AP_PATERNO" property="apPaterno" jdbcType="INTEGER" />
    <result column="AP_MATERNO" property="apMaterno" jdbcType="INTEGER" />
    <result column="NB_CONTRATANTE" property="nombre" jdbcType="INTEGER" />
    <result column="fh_ini" property="fechaIniContrato" jdbcType="INTEGER" />
    <result column="fh_fin" property="fechaFinContrato" jdbcType="INTEGER" />
  </resultMap>
   
    <select id="obtieneAnniosTramites" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT UNIQUE ANNIO FROM TSH003_TRAMITE WHERE RFC = #{rfc,jdbcType=VARCHAR} AND CVE_STATUS = 1036
    </select>
    
    <select id="obtieneContratosXAnnio" resultMap="contratoResultMap">
        SELECT ANNIO, NU_TRAMITE, TRIM(CVE_CODIGO) AS CVE_CODIGO, (FH_INI) || ' AL ' || (FH_FIN) AS PERIODO , TRIM(CVE_UNIDAD) AS CVE_UNIDAD,
            CURP, RFC, TRIM(AP_PATERNO) AS AP_PATERNO, TRIM(AP_MATERNO) AS AP_MATERNO, TRIM(NB_CONTRATANTE) AS NB_CONTRATANTE, fh_ini, fh_fin,
            CVE_STATUS_FIRMANTES
            FROM TSH003_TRAMITE WHERE RFC = #{rfc} AND ANNIO = #{annio} AND CVE_STATUS = 1036
    </select>
    
    <update id = "actualizaEstatusCveFirmantes" >
        UPDATE TSH003_TRAMITE SET CVE_STATUS_FIRMANTES = #{estatusFirmantes}  WHERE ANNIO = #{annio} AND NU_TRAMITE = #{nuTramite}
    </update>
    
</mapper>   
