<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.sep.poho.dao.Tsh82ConfigModeloContratoMapper" >
  <resultMap id="BaseResultMap" type="mx.sep.poho.modelo.Tsh82ConfigModeloContrato" >
    <id column="annio" property="annio" jdbcType="SMALLINT" />
    <id column="vig_inicio" property="vigInicio" jdbcType="DATE" />
    <id column="vig_final" property="vigFinal" jdbcType="DATE" />
    <id column="cve_unidad" property="cveUnidad" jdbcType="CHAR" />
    <result column="nombre_modelo" property="nombreModelo" jdbcType="CHAR" />
    <result column="id" property="id" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    annio, vig_inicio, vig_final, cve_unidad, nombre_modelo, id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="mx.sep.poho.modelo.Tsh82ConfigModeloContratoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tsh82_config_modelo_contrato
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from tsh82_config_modelo_contrato
    where annio = #{annio,jdbcType=SMALLINT}
      and vig_inicio = #{vigInicio,jdbcType=DATE}
      and vig_final = #{vigFinal,jdbcType=DATE}
      and cve_unidad = #{cveUnidad,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from tsh82_config_modelo_contrato
    where annio = #{annio,jdbcType=SMALLINT}
      and vig_inicio = #{vigInicio,jdbcType=DATE}
      and vig_final = #{vigFinal,jdbcType=DATE}
      and cve_unidad = #{cveUnidad,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="mx.sep.poho.modelo.Tsh82ConfigModeloContratoExample" >
    delete from tsh82_config_modelo_contrato
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="mx.sep.poho.modelo.Tsh82ConfigModeloContrato" >
    insert into tsh82_config_modelo_contrato (annio, vig_inicio, vig_final, 
      cve_unidad, nombre_modelo, id
      )
    values (#{annio,jdbcType=SMALLINT}, #{vigInicio,jdbcType=DATE}, #{vigFinal,jdbcType=DATE}, 
      #{cveUnidad,jdbcType=CHAR}, #{nombreModelo,jdbcType=CHAR}, #{id,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="mx.sep.poho.modelo.Tsh82ConfigModeloContrato" >
    insert into tsh82_config_modelo_contrato
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="annio != null" >
        annio,
      </if>
      <if test="vigInicio != null" >
        vig_inicio,
      </if>
      <if test="vigFinal != null" >
        vig_final,
      </if>
      <if test="cveUnidad != null" >
        cve_unidad,
      </if>
      <if test="nombreModelo != null" >
        nombre_modelo,
      </if>
      <if test="id != null" >
        id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="annio != null" >
        #{annio,jdbcType=SMALLINT},
      </if>
      <if test="vigInicio != null" >
        #{vigInicio,jdbcType=DATE},
      </if>
      <if test="vigFinal != null" >
        #{vigFinal,jdbcType=DATE},
      </if>
      <if test="cveUnidad != null" >
        #{cveUnidad,jdbcType=CHAR},
      </if>
      <if test="nombreModelo != null" >
        #{nombreModelo,jdbcType=CHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="mx.sep.poho.modelo.Tsh82ConfigModeloContratoExample" resultType="java.lang.Integer" >
    select count(*) from tsh82_config_modelo_contrato
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tsh82_config_modelo_contrato
    <set >
      <if test="record.annio != null" >
        annio = #{record.annio,jdbcType=SMALLINT},
      </if>
      <if test="record.vigInicio != null" >
        vig_inicio = #{record.vigInicio,jdbcType=DATE},
      </if>
      <if test="record.vigFinal != null" >
        vig_final = #{record.vigFinal,jdbcType=DATE},
      </if>
      <if test="record.cveUnidad != null" >
        cve_unidad = #{record.cveUnidad,jdbcType=CHAR},
      </if>
      <if test="record.nombreModelo != null" >
        nombre_modelo = #{record.nombreModelo,jdbcType=CHAR},
      </if>
      <if test="record.id != null" >
        id = #{record.id,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tsh82_config_modelo_contrato
    set annio = #{record.annio,jdbcType=SMALLINT},
      vig_inicio = #{record.vigInicio,jdbcType=DATE},
      vig_final = #{record.vigFinal,jdbcType=DATE},
      cve_unidad = #{record.cveUnidad,jdbcType=CHAR},
      nombre_modelo = #{record.nombreModelo,jdbcType=CHAR},
      id = #{record.id,jdbcType=SMALLINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="mx.sep.poho.modelo.Tsh82ConfigModeloContrato" >
    update tsh82_config_modelo_contrato
    <set >
      <if test="nombreModelo != null" >
        nombre_modelo = #{nombreModelo,jdbcType=CHAR},
      </if>
      <if test="id != null" >
        id = #{id,jdbcType=SMALLINT},
      </if>
    </set>
    where annio = #{annio,jdbcType=SMALLINT}
      and vig_inicio = #{vigInicio,jdbcType=DATE}
      and vig_final = #{vigFinal,jdbcType=DATE}
      and cve_unidad = #{cveUnidad,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="mx.sep.poho.modelo.Tsh82ConfigModeloContrato" >
    update tsh82_config_modelo_contrato
    set nombre_modelo = #{nombreModelo,jdbcType=CHAR},
      id = #{id,jdbcType=SMALLINT}
    where annio = #{annio,jdbcType=SMALLINT}
      and vig_inicio = #{vigInicio,jdbcType=DATE}
      and vig_final = #{vigFinal,jdbcType=DATE}
      and cve_unidad = #{cveUnidad,jdbcType=CHAR}
  </update>
</mapper>